SECRET_KEY={{ django_secret_key | default('change-me-in-group-vars') }}
DEBUG=False
ALLOWED_HOSTS={{ django_allowed_hosts | join(',') }}
CSRF_TRUSTED_ORIGINS={{ django_csrf_trusted_origins | join(',') }}

DB_ENGINE=mysql
DB_NAME={{ django_db_name }}
DB_USER={{ django_db_user }}
DB_PASSWORD={{ django_db_password }}
DB_HOST={{ django_db_host }}
DB_PORT={{ django_db_port }}

STATIC_ROOT={{ shared_static_path }}
MEDIA_ROOT={{ shared_media_path }}
